@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body{
	font-family: 'Montserrat', sans-serif;
	color:#5D5D5D;
	font-weight: 300;
	font-size: 16px;
}
#ConilLogo{
	position: absolute;
	top:20px;
	width:460px;
	left:50%;
	margin-left: -230px;
	z-index: 2000;
	text-align: center;
	color:#000;
	
}
#ConilLogo a.btn-conil{
	margin-top:400px;
	display: block;
}
#ConilLogo h2{
	font-size: 19px;
	text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.conil-whoweare h2{
	color:#fff;
}
.conil-section{
	padding-top: 40px;
	padding-bottom: 40px;
}

.conil-products p{
	color:#324a5e;
	font-size: 22px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.conil-products h3{
	padding-bottom: 40px;
	color:#324a5e;
	font-size: 41px;
	text-transform: uppercase;
	font-weight: 700;
}
.conil-products ul{
	padding:0px;
	margin:0px;	
}
.conil-products ul li{
	list-style-type: none;
	background-color:#324a5e;
	color:#fff;
	font-size: 31px;
	text-align: center;
	margin-top:5px;
	margin-bottom:5px;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
}

.conil-products ul li.light-blue{
	background-color:#59829e;
}
.conil-galeria{
	padding-bottom: 40px;
}
.conil-galeria h2{
 font-size: 32px;
 font-weight: 700;
 border: 2px solid #fff;
 color:#fff;
 padding:20px;
 margin-top: 40px;
 margin-bottom: 40px;
}
.conil-galeria img{
	margin-top:20px;
	margin-bottom:20px;
}
#ConilMasFotos{
	color:#fff;
	text-decoration: underline;
	font-size: 18px;
}

/* beging gallery */
/*oculto nav buttons */
#mybgcarousel .navbutton{
	display: none;
}
#mybgcarousel{ /* CSS for specific carousel container called #mybgcarousel. */
    width:100%;
    height:700px;
    }
    
    /* ######### Shared CSS for various parts of carousel (in the event of multiple carousels) ######### */
    
    div.bgcarousel{ /* shared CSS for main carousel container */
    	background: black url(ajaxload.gif) center center no-repeat; /* loading gif while caoursel is loading */
    }
    
	div.bgcarousel img.navbutton{ /* CSS for the nav buttons */
		
    }
    
    div.bgcarousel div.slide{ /* CSS for each image's DIV container within main container */
		background-color: black;
		background-position: center center; /* center image within carousel */
		background-repeat: no-repeat;
		background-size: cover; /* CSS3 property to scale image within container? "cover" or "contain" */
		color: black;
    }
    
    div.bgcarousel div.selectedslide{ /* CSS for currently selected slide */
    }
    
    div.bgcarousel div.slide div.desc{ /* DIV that contains the textual description inside .slide */
		position: absolute;
		color: white;
		left: 40px;
		top: 100px;
		width:200px;
		padding: 10px;
		font: bold 16px sans-serif, Arial;
		text-shadow: 0 -1px 1px #8a8a8a; /* CSS3 text shadow */
		z-index:5;
    }
    
    div.bgcarousel div.selectedslide div.desc{ /* CSS for currently selected slide's desc div */
    }
    
    div.bgcarousel div.slide div.desc h2{
		font-size:150%;
		margin:0;
    }
    
    div.bgcarousel div.slide div.desc a{
		color:yellow;
		text-decoration:none;
    }
    
/*end gallery */
.conil-turnos{
	color:#384a5a;
}
.conil-turnos h5{
	font-size: 16px;
	font-weight: 400;
	color:#384a5a;
}
.conil-turnos h3{
	font-size: 30px;
	font-weight: 700;
	color:#384a5a;
}



.navbar-toggle .icon-bar{ background-color: #fff;}

.conil-navbar{
	background-image: none;
	background-color: transparent;
	z-index: 2001;
}
.conil-navbar ul{
	margin-top: 15px;
}

.conil-navbar ul li a{
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #4C4C4C;
}
.conil-navbar .navbar-brand{
	background-image: url(../img/logo.png);
	text-indent: -9999px;
	width: 340px;
	height: 58px;
	background-repeat: no-repeat;
	margin-top: 15px;
}
@media(max-width: 992px){
	.conil-navbar .navbar-brand{
		background-image: url(../img/iso.png);
		width: 64px;
		height: 64px;
	}	
}
.main-gallery-container{
	width: 100%;
	height: 700px;
	overflow: hidden;
}
#galeria{
	width: 100%;
	height:100%;
	background-position: center top;
	transition: background-image 1s ease-in-out;
	background-image: url(../img/background01.jpg);
}
.main-gallery-content{
	width:600px;
	position: absolute;
	top:20%;
	margin-left:-300px;
	left:50%;
	z-index: 2000;
	color:#fff;
}

@media(max-width: 768px){
	

}

.navbar-shrink{
	background-color:rgba(255, 255, 255, .4);
}
.navbar{
	min-height:85px
}

@media(max-width: 768px){
	.navbar{
		min-height: 50px;
	}
	.conil-navbar,
	.navbar-shrink{
		background-color:#EDEDED;
	}
	.conil-navbar .navbar-brand{
		background-image: url(../img/logo.png);
		background-size: contain;
		width: 204px;
		height: 34px;
		margin-left: 20px;
		margin-top: 10px;
	}	
	.navbar-collapse ul li a{
		text-align: center;
	}
	.navbar-collapse ul li a:hover{
		background-color: #fff;
	}

}

.jumbotron{
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;	
	color:#fff;
	padding-bottom: 40px;
	min-height: 700px;	
}

@media(max-width: 992px){
	.jumbotron{
		min-height: 500px;
		background-position: center;
	}
	.main-gallery-content{
		width:400px;
		position: absolute;
		top:20%;
		margin-left:-200px;
		left:50%;
		z-index: 2000;
		color:#fff;
	}

}




.main-gallery-content h1{
	
	color:#fff;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 5px;
}



.main-gallery-content h2{
	font-size: 19px;
	font-weight: 700;
	margin-top: 5px;
}
.main-gallery-content p{
	font-size: 16px;
}

@media(max-width: 992px){
	
	.main-gallery-content h1{
		padding-top: 0px;		
	}
	.main-gallery-content h1,
	.main-gallery-content h2, 
	.main-gallery-content p{
		text-align: center;
	}
}

@media(max-width: 768px){
	.main-gallery-content{
		width:360px;
		position: absolute;
		top:20%;
		margin-left:-180px;
		left:50%;
		z-index: 2000;
		color:#fff;
	}
	
}

.conil-grey{
	background-color: #e9ebef;
}
.conil-yellow{
	background-color: #ffa12e;
}
.conil-pink{
	background-color:#f97373;
}
.btn-conil{
	background-color: #f97373;
	color:#fff;
	padding:15px;
	opacity: .8;
	border-radius: 0;
	font-size: 26px;	
	width:100%;
	transition: background-color .5s;
}
.btn-conil:hover{
	background-color:#fff;
	color:#f97373;
	text-decoration: none;
}
.conil-section{
	padding-top: 60px;
	padding-bottom: 60px;
}

.conil-laconil p{
	margin-top:20px;
}

.conil-section h3 img{
	width: 50px;
	margin-right: 10px;
	margin-top: -10px;
}
.conil-content-grey-block{
	background-color: #757575;
	padding:30px;
	color:#fff;
	text-align: left;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.4em;
}
.conil-laconil .conil-content-grey-block{
	font-size: 18px;
	min-height: 110px;
	padding:20px;
}
.conil-laconil .conil-content-grey-block strong{
	font-size: 36px;
}
.conil-content-grey-block strong{
	font-size: 28px;
	font-weight: 400;
}



.conil-crosstape .conil-content-grey-block{
	font-size: 18px;
	text-align: center;
}
.conil-crosstape .conil-content-grey-block strong{
	font-weight: 400;
	font-size: 20px;
	text-align: center;
}




.conil-image-divider{
	background-size: cover;
	min-height: 200px;
}
.crosstape-divider{
	background-image: url(../img/divisor01.jpg)
}
.taping-divider{
	background-image: url(../img/divisor02.jpg)
}
.acupuntura-divider{
	background-image: url(../img/divisor03.jpg)
}
.conil-taping p.conil-content-grey-block {
	font-size: 14px;	
}
.conil-taping p.conil-content-grey-block strong{
	font-size: 18px;
}




@media(max-width: 992px){
	.conil-laconil .conil-content-grey-block	{
		text-align: center;
	}
}

form{
	width: 100%;
}

.form-control{
        border: 0;
    border-radius: 0;
}
.livom-contact-container{
background-color: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 60px;

}
.livom-contact-container h4{
    font-size: 14px;
    font-weight: 700;
    color:#999999;
    padding:0 0 20px 0;
    margin:0;
}

#enviarForm{
font-size: 16px;
padding:10px;

}
#enviarForm:hover{
    transition: background-color .5s, color .5s;
    background-color: #fff;
    color:#0b4bff;
    text-decoration: none;
}
textarea.form-control{
    height: 85px;
}

#errorMessage{
    display:none;
    text-align: center;
    margin:15px 0;
    background:#ffdede;
    color:#be0000;  
    padding:5px;
}
#errorMessage.mailSuccess{
    background-color: chartreuse;
    color:forestgreen;
}

footer{
	background-color:#5D5D5D;
	color:#fff;
	padding-top: 30px;
	padding-bottom: 30px;
}
footer ul{
	padding:0;
	margin:0;
}
footer ul li{
	float:left;
	list-style-type: none;
}
footer ul li a{
	color:#fff;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top:10px;
}
footer ul li a:hover{
	color:#F97C15;
	text-decoration: none;
}

@media(max-width: 992px){
	footer{
		text-align: center;
	}
	footer .col-lg-4{
		text-align: center;
	}
	footer ul li{
		width: 100%;
		text-align: center;
		padding:10px 0;
	}
}

